.bookingHome h2{
    color: #fff;
}
.bookingHome h4{
    color: #e8e8e8;
    line-height: 24px;
}

.selectContainer{
    margin: 40px auto;
}
.toggleDiv{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset;
}

.toggleBox{    
    color: #151515;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    height: 180px;
    text-align:center;
    display: table;
}
.toggleBox span{
    display: table-cell;
    vertical-align: middle;
}

.logBtn{
    background: #53cae0;
    color: #026850;
}

@media screen and (max-width:600px){
    .toggleDiv{
        width: 50%;
        margin: 20px auto;
        float: none;
        margin-bottom: 30px;
    }
}